body{

font-family:Arial,sans-serif;

background:#FAFAFA;

margin:0;

padding:0;

}

header{

background:#7E9C84;

color:white;

padding:40px;

text-align:center;

}

nav{

background:white;

padding:15px;

text-align:center;

}

nav a{

margin:20px;

text-decoration:none;

color:#333;

font-weight:bold;

}

section{

max-width:900px;

margin:auto;

padding:40px;

}

h2{

color:#7E9C84;

}
